mkdocs==1.6.1
mkdocs-material==9.6.23
mkdocs-minify-plugin==0.8.0
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-git-revision-date-localized-plugin==1.5.0
pymdown-extensions==10.16.1
mkdocs-drawio-exporter==0.10.2
